.row {
  margin-left: auto;
  margin-right: auto;
}

nb-tabset ul li {
  background: red;
}

nb-card.popover-card {
  margin-bottom: 0;
  width: 300px;
  box-shadow: none;
}

nb-action {
  background: green;
}