<nb-card>
  <nb-card-header>Select Loss Event Database</nb-card-header>
  <nb-card-body>
    <div style="overflow-x: scroll;">
      <div class="col-sm-auto">
        <div class="form-group">
          <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="refreshSelected($event)">
          </ng2-smart-table>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-danger" (click)="submit()">Select</button>
    <button type="submit" class="btn btn-hero-primary" (click)="closeModal()">Close</button>
    <button type="submit" class="btn btn-hero-primary" (click)="showModal()">Edit</button>


  </nb-card-body>
</nb-card>

<!-- { COUNTER_NO: 1, YEAR_ACTIVE: "2018", DESCRIPTION: "hehehe", CONDITION: "IMP", INDICATOR_name: "IMP001", SCORE: 123 }, -->
