.chart-container {
  position: inherit;
  height: 240px;
  width: 100%;
  margin-top: 5px;
}
#arrow-up {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  
  border-bottom: 30px solid red;
}
@media print {
  .print_this * {
    display: block;
    height: 100%;
    width: 90%;
  }
}