<nb-card>
  <nb-card-header>Accident Input</nb-card-header>
  <nb-card-body>
    <form #myForm="ngForm" (ngSubmit)="submit()">
      <div class="form-group row">
          <label class="col-sm-2 col-form-label" >Periode</label>
        <div class="col-sm-2">
          <!-- <input type="text" class="form-control" ngModel name="yearPeriode" (change)="reload()"> -->
          <select class="form-control" name="yearPeriode" ngModel required (change)="reload()">
            <option *ngFor="let data of year" value="{{data.data}}">{{data.data}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" >Division</label>
      <div class="col-sm-5">
        <!-- <input type="text" class="form-control" ngModel name="yearPeriode" (change)="reload()"> -->
        <select class="form-control" name="division" ngModel required (change)="reload()">
          <option *ngFor="let data of division" value="{{data.data}}">{{data.desc}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Department</label>
      <div class="col-sm-5">
        <select class="form-control" name="departement" ngModel required (change)="reload()">
          <option *ngFor="let data of departement" value="{{data.data}}">{{data.desc}}</option>
        </select>
      </div>
  
  </div>

      <div class="col-sm-auto">
        <div class="form-group">
          <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="submit($event)" (deleteConfirm)="deleteControl($event)"> 
          </ng2-smart-table>
        </div>
      </div>
      <div class="col-sm-auto row">
        <!-- <div class="col-sm-auto">
          <div class="form-group">
            <button type="submit" class="btn btn-success ">Submit</button>
          </div>
        </div> -->
        <div class="col-sm-auto">
          <div class="form-group">
            <button type="button" class="btn btn-success " [disabled]="buttonDisable" (click)="showModal()">Add New</button>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
