<nb-card>
  <nb-card-header>Report</nb-card-header>
  <nb-card-body>
    <div class="form-group row">
      <label class="col-md-2">Periode</label>
      <div class="col-sm-2">
        <!-- <input type="text" class="form-control" ngModel name="yearPeriode" (change)="reload()"> -->
        <select class="form-control" [(ngModel)]="yearPeriode" required (change)="reload()">
          <option *ngFor="let data of year" value="{{data.data}}">{{data.data}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 mt-3">Division</label>
      <div class="col-md-4">
        <!-- <input type="text" class="form-control" ngModel name="yearPeriode" (change)="reload()"> -->
        <select class="form-control" name="division" [(ngModel)]="division" (change)="filterDepartment()">
          <option *ngFor="let data of divisionData" value="{{data.charId}}">{{data.description}}</option>
        </select>
      </div>
      <label class="col-md-2 mt-3">Department</label>
      <div class="col-md-4">
        <select class="form-control" name="department" [(ngModel)]="department" (change)="reload()">
          <option *ngFor="let data of departmentFilter" value="{{data.kodeDepartment}}">{{data.department}}</option>
        </select>
      </div>

    </div>


    <div class="row">

      <div class="form-group mr-1">
        <button class="btn btn-success" (click)="print('print_tab1')">Print Chart</button>
      </div>
      <div class="form-group mr-1">
        <button class="btn btn-success" (click)="print('print_tab2')">Print Report</button>
      </div>
      <div class="form-group">
        <button class="btn btn-success" (click)="showModal()">Approval</button>
      </div>
    </div>

    <nb-tabset>
      <nb-tab tabTitle="Chart">
        <div class="printclass" id="print_tab1">
          <div class="row">
            <div class="col">
              <font size="2" class="float-left">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td width="30%">
                        <b> Division</b>
                      </td>
                      <td>
                        {{dataInput.division.desc}}
                      </td>
                    </tr>
                    <tr>
                      <td width="30%">
                        <b> Department</b>
                      </td>
                      <td>
                        {{dataInput.department.desc}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </font>
            </div>
            <div class="col">
              <font size="2">
                <table class="table table-bordered ml-2">
                  <thead>
                    <tr>
                      <th>
                        <b> Number Of Risk</b>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        {{tabledata.length}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </font>
            </div>
            <div class="col">
              <font size="2" class="float-right">
                <table class="table table-bordered ">
                  <thead>
                    <tr>
                      <th>
                        <b> Approved&nbsp;By</b>
                      </th>
                      <th>
                        <b>Prepared&nbsp;By</b>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td height="100"> </td>
                      <td height="100"> </td>
                    </tr>
                  </tbody>

                </table>
              </font>
            </div>
          </div>
          <div class="row">
            <div>
              <canvas id="liveDemoCanvas" width="700px" height="600px"></canvas>
            </div>

            <div class="col-lg-6">
              <div class="row">
                <ngx-chartjs-bar class="col-lg-12" style="width:1120px;height:300px"></ngx-chartjs-bar>
              </div>
              <div class="row ml-1 mr-1">
                <ngx-chartjs-pie class="col-lg-6" style="width:560px;height:300px"></ngx-chartjs-pie>
                <ngx-control-mapping class="col-lg-6" style="width:560px;height:300px"></ngx-control-mapping>
              </div>
            </div>
          </div>





          <div>
            <app-chart style="display: none;" data-html2canvas-ignore (svg)="savesvg($event)" [heat]="tabledata"></app-chart>
          </div>

          <div class="form-group row">
            <div class="col-lg-6">
              <font size="1">
                <table class="table table-bordered">


                  <thead>
                    <tr>
                      <th bgcolor="FF33A8">No</th>
                      <th bgcolor="FF33A8">Risk&nbsp;No</th>
                      <th bgcolor="FF33A8">Loss&nbsp;Event&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of riskArr">
                      <td>{{ item.no }}</td>
                      <td>{{ item.riskNo }}</td>
                      <td>{{ item.lossEvent }}</td>

                    </tr>
                  </tbody>

                </table>
              </font>
            </div>
            <div class="row col-lg-6">
              <div class="col-lg-3">
                <table class="table table-condensed">
                  <font size="1">
                    <thead>
                      <tr>
                        <th bgcolor="33FFC1"></th>
                        <th bgcolor="33FFC1">Effective</th>
                        <th bgcolor="33FFC1"></th>
                      </tr>
                    </thead>
                    <thead>
                      <tr>
                        <th>Risk&nbsp;No</th>
                        <th>Before</th>
                        <th>After</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of effectivedata">
                        <td>{{ item.riskNo }}</td>
                        <td>{{ item.irOverall }}</td>
                        <td>{{ item.rdOverall }}</td>
                      </tr>
                    </tbody>
                  </font>
                </table>
              </div>
              <div class="col-lg-3">
                <table class="table table-condensed">
                  <font size="1">
                    <thead>
                      <tr>
                        <th bgcolor="33FFC1"></th>
                        <th bgcolor="33FFC1">Moderate</th>
                        <th bgcolor="33FFC1"></th>
                      </tr>
                    </thead>
                    <thead>
                      <tr>
                        <th>Risk&nbsp;No</th>
                        <th>Before</th>
                        <th>After</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of moderatedata">
                        <td>{{ item.riskNo }}</td>
                        <td>{{ item.irOverall }}</td>
                        <td>{{ item.rdOverall }}</td>

                      </tr>
                    </tbody>
                  </font>
                </table>
              </div>
              <div class="col-lg-3">
                <table class="table table-condensed">
                  <font size="1">
                    <thead>
                      <tr>
                        <th bgcolor="33FFC1"></th>
                        <th bgcolor="33FFC1">Ineffective</th>
                        <th bgcolor="33FFC1"></th>
                      </tr>
                    </thead>
                    <thead>
                      <tr>
                        <th>Risk&nbsp;No</th>
                        <th>Before</th>
                        <th>After</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of ineffectivedata">
                        <td>{{ item.riskNo }}</td>
                        <td>{{ item.irOverall }}</td>
                        <td>{{ item.rdOverall }}</td>

                      </tr>
                    </tbody>
                  </font>
                </table>
              </div>
              <div class="col-lg-3">
                <table class="table table-condensed">
                  <font size="1">
                    <thead>
                      <tr>
                        <th bgcolor="33FFC1"></th>
                        <th bgcolor="33FFC1">Weak</th>
                        <th bgcolor="33FFC1"></th>
                      </tr>
                    </thead>
                    <thead>
                      <tr>
                        <th>Risk&nbsp;No</th>
                        <th>Before</th>
                        <th>After</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of weakdata">
                        <td>{{ item.riskNo }}</td>
                        <td>{{ item.irOverall }}</td>
                        <td>{{ item.rdOverall }}</td>

                      </tr>
                    </tbody>
                  </font>
                </table>
              </div>
            </div>
          </div>

        </div>

      </nb-tab>
      <nb-tab tabTitle="List Report">
        <div class="printclass2" id="print_tab2">
          <div class="row">
            <div class="col">
              <font size="2" class="float-left">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td width="30%">
                        <b> Division</b>
                      </td>
                      <td>
                        {{dataInput.division.desc}}
                      </td>
                    </tr>
                    <tr>
                      <td width="30%">
                        <b> Department</b>
                      </td>
                      <td>
                        {{dataInput.department.desc}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </font>
            </div>

            <div class="col">
              <font size="2" class="float-right">
                <table class="table table-bordered ">
                  <thead>
                    <tr>
                      <th>
                        <b> Approved&nbsp;By</b>
                      </th>
                      <th>
                        <b>Prepared&nbsp;By</b>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td height="100"> </td>
                      <td height="100"> </td>
                    </tr>
                  </tbody>

                </table>
              </font>
            </div>
          </div>

          <div class="print_report">
            <table class="table table-condensed">
              <font size="1">
                <thead>
                  <tr>
                    <th bgcolor="cyan">Division/Dept</th>
                    <th bgcolor="cyan"> </th>
                    <th bgcolor="purple"></th>
                    <th bgcolor="purple">
                      <font color="white">Risk&nbsp;Description</font>
                    </th>
                    <th bgcolor="purple"></th>
                    <th bgcolor="light blue"> </th>
                    <th bgcolor="light blue">
                      <font color="white">Inherent&nbsp;Risk</font>
                    </th>
                    <th bgcolor="light blue"> </th>
                    <th bgcolor="orange">
                      <font color="white">Control</font>
                    </th>
                    <th bgcolor="yellow"> </th>
                    <th bgcolor="yellow">Residual&nbsp;Risk</th>
                    <th bgcolor="yellow"> </th>
                    <th bgcolor="green"> </th>
                    <th bgcolor="green"> </th>
                    <th bgcolor="green">
                      <font color="white">Expected&nbsp;Risk</font>
                    </th>
                    <th bgcolor="green"> </th>
                    <th bgcolor="green"> </th>
                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Risk No</th>
                    <th>Department KPI</th>
                    <th>Loss Event</th>
                    <th>Caused</th>
                    <th>Risk&nbsp;Impact</th>
                    <th>Impact</th>
                    <th>Likelihood</th>
                    <th>Overall</th>
                    <th>Control</th>
                    <th>Impact</th>
                    <th>Likelihood</th>
                    <th>Overall</th>
                    <th>Treatment Plan</th>
                    <th>Impact</th>
                    <th>Likelihood</th>
                    <th>Overall</th>
                    <th>Schedule</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tabledata">
                    <td>{{ item.riskNo }}</td>
                    <td>{{ item.departmentKpi }}</td>
                    <td>{{ item.lossEvent }}</td>
                    <td>
                      <div *ngFor="let data of insertSpace2(item.caused)">
                        {{data}}
                        <br>
                      </div>
                    </td>
                    <td>{{ item.riskImpact}}</td>
                    <td>{{ item.irImpact }}</td>
                    <td>{{ item.irLikelihood }}</td>
                    <td>{{ item.irOverall }}</td>
                    <td>
                      <div *ngFor="let data of insertSpace(item.control)">
                        {{data}}
                        <br>
                      </div>
                    </td>
                    <td>{{ item.rdImpact }}</td>
                    <td>{{ item.rdLikelihood }}</td>
                    <td>{{ item.rdOverall }}</td>
                    <td>
                      <div *ngFor="let data of insertSpace(item.treatmentPlan)">
                        {{data}}
                        <br>
                      </div>
                    </td>
                    <td>{{ item.exImpact }}</td>
                    <td>{{ item.exLikelihood }}</td>
                    <td>{{ item.exOverall }}</td>
                    <td>
                      <div *ngFor="let data of insertSpace(item.exDueDate)">
                        {{data}}
                        <br>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </font>
            </table>
          </div>
        </div>
      </nb-tab>
      <nb-tabset>

        <nb-card-body>
          <nb-card>
