@import "../../../@theme/styles/themes";

@include nb-install-component() {
  ngx-chartjs-pie,
  ngx-chartjs-bar,
  ngx-chartjs-2-bar,
  ngx-chartjs-line,
  ngx-d3-bar,
  ngx-chartjs-multiple-xaxis,
  ngx-control-mapping,
  ngx-chartjs-bar-horizontal,
  ngx-chartjs-radar {
    /deep/ chart {
      display: block;
      height: 100%;
      width: 90%;
    }
  }

  @media print {
    .print_this * {
      display: block;
    }
    .fixed * {
      display: none;
    }
    .print_report * {
      display: block;
    }
  }
}
