<nb-card>
  <nb-card-header>
      <div class="form-group row">
          <div class="col-lg-10">
    Risk Overview
  </div>
      <nb-actions size="medium">
          <nb-action icon="nb-email" ></nb-action>
        </nb-actions>
        </div>
  </nb-card-header>
  <nb-card-body>

      <div class="col-md-12">
        <div class="form-group row">
          <label class="col-md-2 mt-3">Division</label>
          <div class="col-md-3">
            <!-- <input type="text" class="form-control" ngModel name="yearPeriode" (change)="reload()"> -->
            <select class="form-control" name="division" ngModel required (change)="reload()">
              <option *ngFor="let data of division" value="{{data.data}}">{{data.desc}}</option>
            </select>
          </div>
          <label class="col-md-2 mt-3">Department</label>
          <div class="col-md-3">
            <select class="form-control" name="department" ngModel required (change)="reload()">
              <option *ngFor="let data of department" value="{{data.data}}">{{data.desc}}</option>
            </select>
          </div>

        </div>
        
      </div>
      
      <nb-tabset>
        <nb-tab tabTitle="Detail">
          <div class="form-group ">
            <table class="table table-condensed mt-3">
              <font size="1">
                  <thead>
                      <tr>
                          <th bgcolor="yellow" > </th>
                        <th bgcolor="#FF0000" > </th>
                        <th bgcolor="#FF0000" > </th>
                        <th bgcolor="#FF0000" > </th>
                        <th bgcolor="#FF0000" >Inherent&nbsp;Risk </th>
                        <th bgcolor="#FF0000" > </th>
                        <th bgcolor="#FF0000" > </th>
                        <th bgcolor="#FF0000" > </th>
                        <th bgcolor="#0000FF" > </th>
                        <th bgcolor="#0000FF" > </th>
                        <th bgcolor="#0000FF">Residual&nbsp;Risk</th>
                        <th bgcolor="#0000FF"> </th>
                        <th bgcolor="#0000FF"> </th>
                        <th bgcolor="#00FF00"> </th>
                        <th bgcolor="#00FF00">Expected&nbsp;Risk</th>
                        <th bgcolor="#00FF00"> </th>
                      </tr>
                    </thead>
                <thead>
                  <tr>
                    <th>RiskNo</th>
                    <th>Fin&nbsp;Category</th>
                    <th>Op&nbsp;Category</th>
                    <th>Financial</th>
                    <th>Operational</th>
                    <th>Qualitative</th>
                    <th>Likelihood</th>
                    <th>Overall</th>
                    <th>Financial</th>
                    <th>Operational</th>
                    <th>Qualitative</th>
                    <th>Likelihood</th>
                    <th>Overall</th>
                    <th>Impact</th>
                    <th>Likelihood</th>
                    <th>Overall</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tabledata">
                    <td>{{ item.riskNo }}</td>
                    <td>{{ item.finImpactCategory }}</td>
                    <td>{{ item.opImpactCategory }}</td>
                    <td>{{ item.finAmountIr }}</td>
                    <td>{{ item.opAmountIr }}</td>
                    <td>{{ item.qlImpactIr }}</td>
                    <td>{{ item.irLikelihood }}</td>
                    <td>{{ item.irOverall }}</td>
                    <td>{{ item.finAmountRd }}</td>
                    <td>{{ item.opAmountRd }}</td>
                    <td>{{ item.qlImpactRd }}</td>
                    <td>{{ item.rdLikelihood }}</td>
                    <td>{{ item.rdOverall }}</td>
                    <td>{{ item.exImpact }}</td>
                    <td>{{ item.exLikelihood }}</td>
                    <td>{{ item.exOverall }}</td>
                  </tr>
                </tbody>
              </font>
            </table>
          </div>
          
        </nb-tab>
        <nb-tab tabTitle="Heatmap">
          
          <div class="form-group row">
            <div class="form-group ">
                <div class= "col-md-4">
                <table class="table table-condensed mt-3">
                  <font size="1">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th width="30%" >Risk&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>Loss Event</th>                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of tabledata">
                        <td>{{ item.no}}</td>
                        <td width="80">{{ item.riskNo}}</td>
                        <td>{{ item.lossEvent }}</td>                        
                      </tr>
                    </tbody>
                  </font>
                </table>
              </div>
              </div>
          <app-chart [heat]="tabledata"></app-chart>
        </div>
        </nb-tab>
      </nb-tabset>
  

  
    <!-- <div class="col-sm-auto row">
      <div class="col-sm-auto">
            <div class="form-group">
              <button type="submit" class="btn btn-success ">Submit</button>
            </div>
          </div>
      <div class="col-sm-auto">
        <div class="form-group">
          <button type="button" class="btn btn-success " [disabled]="buttonDisable" (click)="showModal()">Add New</button>
        </div>
      </div>
    </div> -->
  </nb-card-body>
</nb-card>
