<nb-card>
  <nb-card-header>
    <div class="form-group row">
      <div class="col-lg-8">
        Risk Overview
      </div>
      <div class="col-sm-3">
        Status: {{this.riskstat}}
      </div>
      <nb-actions size="medium">
        <nb-action icon="nb-email"></nb-action>
      </nb-actions>
    </div>
  </nb-card-header>
  <nb-card-body>

    <div class="col-md-12">

      <div class="form-group row">
        <label class="col-md-2">Periode</label>
        <div class="col-sm-2">
          <!-- <input type="text" class="form-control" ngModel name="yearPeriode" (change)="reload()"> -->
          <select class="form-control" [(ngModel)]="yearPeriode" required (change)="reload()">
            <option *ngFor="let data of year" value="{{data.data}}">{{data.data}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 mt-3">Division</label>
        <div class="col-md-4">
          <!-- <input type="text" class="form-control" ngModel name="yearPeriode" (change)="reload()"> -->
          <select class="form-control" name="division" [(ngModel)]="division" (change)="filterDepartment()">
            <option *ngFor="let data of divisionData" value="{{data.charId}}">{{data.description}}</option>
          </select>
        </div>
        <label class="col-md-2 mt-3">Department</label>
        <div class="col-md-4">
          <select class="form-control" name="department" [(ngModel)]="department" (change)="reload()">
            <option *ngFor="let data of departmentFilter" value="{{data.kodeDepartment}}">{{data.department}}</option>
          </select>
        </div>

      </div>
      <button class="btn btn-success" (click)="exportAsExcelFile('tam.xlsx')">Download</button>
    </div>

    <nb-tabset>
      <nb-tab tabTitle="Detail">
        <div class="form-group ">
          <table id="print_table" class="table table-bordered mt-3">
            <font size="1">
              <thead>
                <tr>

                  <th bgcolor="cyan" style="text-align:center" colspan="6">Division/Dept</th>


                  <th bgcolor="purple" style="text-align:center" colspan="4">
                    <font color="white"> Risk&nbsp;Description</font>
                  </th>


                  <th bgcolor="light blue" style="text-align:center" colspan="9">
                    <font color="white">Inherent&nbsp;Risk</font>
                  </th>

                
                  <th bgcolor="orange"style="text-align:center" colspan="5">
                    <font color="white">Control</font>
                  </th>
               
                
                  <th bgcolor="yellow" style="text-align:center" colspan="6">Residual&nbsp;Risk</th>
               
         
                  <th bgcolor="green" style="text-align:center" colspan="6">
                    <font color="white">Expected&nbsp;Risk</font>
                  </th>
       

                </tr>
              </thead>
              <thead>
                <tr>
                  <th>Risk No</th>
                  <th>Division</th>
                  <th>Company KPI</th>
                  <th>Dept KPI</th>
                  <th>Department</th>
                  <th>Business&nbsp;Process</th>
                  <th>Loss&nbsp;Event</th>
                  <th>Caused</th>
                  <th>Risk&nbsp;Impact</th>
                  <th>Risk&nbsp;Level</th>
                  <th>Notes</th>
                  <th>Financial&nbsp;Category</th>
                  <th>Financial&nbsp;Amount</th>
                  <th>Operational&nbsp;Category</th>
                  <th>Operational&nbsp;Loss</th>
                  <th>Qualitative&nbsp;Impact</th>
                  <th>Impact</th>
                  <th>Likelihood</th>
                  <th>Overall&nbsp;Risk</th>
                  <th>Control</th>
                  <th>Operation</th>
                  <th>Appropriateness</th>
                  <th>Overall&nbsp;Control</th>
                  <th>Notes</th>
                  <th>Financial&nbsp;Amount</th>
                  <th>Operational&nbsp;Loss</th>
                  <th>Qualitative&nbsp;Impact</th>
                  <th>Impact</th>
                  <th>Likelihood</th>
                  <th>Overall&nbsp;Risk</th>
                  <th>Treatment&nbsp;Plan</th>
                  <th>Impact</th>
                  <th>Likelihood</th>
                  <th>Overall</th>
                  <th>PIC</th>
                  <th>Schedule</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tabledata">
                  <td>{{ item.riskNo }}</td>
                  <td>{{ item.descDivision }}</td>
                  <td>{{ item.companyKpi }}</td>
                  <td>{{ item.departmentKpi }}</td>
                  <td>{{ item.descDepartment }}</td>
                  <td>{{ item.businessProcess }}</td>
                  <td>{{ item.lossEvent }}</td>
                  <td>
                    <div *ngFor="let data of insertSpace2(item.caused)">
                      {{data}}
                      <br>
                    </div>
                  </td>
                  <td>{{ item.riskImpact }}</td>
                  <td>{{ item.riskLevel }}</td>
                  <td>{{ item.notesIr }}</td>
                  <td>{{ item.finImpactCategory }}</td>
                  <td>{{ item.finAmountIr }}</td>
                  <td>{{ item.opImpactCategory }}</td>
                  <td>{{ item.opAmountIr }}</td>
                  <td>{{ item.qlImpactIr }}</td>
                  <td>{{ item.irImpact }}</td>
                  <td>{{ item.irLikelihood }}</td>
                  <td>{{ item.irOverall }}</td>
                  <td>
                    <div *ngFor="let data of insertSpace(item.control)">
                      {{data}}
                      <br>
                    </div>
                  </td>
                  <td>{{ item.operationCt }}</td>
                  <td>{{ item.appropriatenessCt }}</td>
                  <td>{{ item.efOverall }}</td>
                  <td>{{ item.notesRd }}</td>
                  <td>{{ item.finAmountRd }}</td>
                  <td>{{ item.opAmountRd }}</td>
                  <td>{{ item.qlImpactRd }}</td>
                  <td>{{ item.rdImpact }}</td>
                  <td>{{ item.rdLikelihood }}</td>
                  <td>{{ item.rdOverall }}</td>
                  <td>
                    <div *ngFor="let data of insertSpace(item.treatmentPlan)">
                      {{data}}
                      <br>
                    </div>
                  </td>
                  <td>{{ item.exImpact }}</td>
                  <td>{{ item.exLikelihood }}</td>
                  <td>{{ item.exOverall }}</td>
                  <td>
                    <div *ngFor="let data of insertSpace(item.exPic)">
                      {{data}}
                      <br>
                    </div>
                  </td>
                  <td>
                    <div *ngFor="let data of insertSpace(item.exDueDate)">
                      {{data}}
                      <br>
                    </div>
                  </td>
                </tr>
              </tbody>
              </font>
          </table>
        </div>

      </nb-tab>
      <nb-tab tabTitle="Risk Map">

        <div class="form-group row">
          <div class="form-group ">

            <table class="table table-bordered">
              <font size="1">
                <thead>
                  <tr>
                    <th>No</th>
                    <th width="30%">Risk&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th width="400">Loss&nbsp;Event&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tabledata">
                    <td>{{ item.no}}</td>
                    <td width="80">{{ item.riskNo}}</td>
                    <td width="400">{{ item.lossEvent }}</td>
                    <td width="160px">
                      <div class="row">
                        <button type="button" id="heat" class="btn btn-success mr-1" (click)="showModal(item)">View</button>
                        <button type="button" id="heat" class="btn btn-success mr-1" (click)="goToPage(item.riskNo)">Edit</button>
                        <button type="button" id="heat" class="btn btn-success" (click)="deleteControl(item)">Delete</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </font>
            </table>
            <div class="form-group ">
              <button class="btn btn-success" (click)="addNewRisk()">Add</button>
            </div>
          </div>
          <app-chart [heat]="tabledata"></app-chart>
        </div>
      </nb-tab>
    </nb-tabset>



    <!-- <div class="col-sm-auto row">
      <div class="col-sm-auto">
            <div class="form-group">
              <button type="submit" class="btn btn-success ">Submit</button>
            </div>
          </div>
      <div class="col-sm-auto">
        <div class="form-group">
          <button type="button" class="btn btn-success " [disabled]="buttonDisable" (click)="showModal()">Add New</button>
        </div>
      </div>
    </div> -->
  </nb-card-body>
</nb-card>
