USE [master]
GO
/****** Object:  Database [TAM_PROJECT]    Script Date: 4/1/2018 5:39:55 PM ******/
CREATE DATABASE [TAM_PROJECT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TAM_PROJECT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TAM_PROJECT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TAM_PROJECT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TAM_PROJECT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TAM_PROJECT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TAM_PROJECT]
GO
USE [TAM_PROJECT]
GO
/****** Object:  Table [dbo].[TB_M_ACCIDENT_DETAIL]    Script Date: 4/1/2018 5:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_ACCIDENT_DETAIL](
	[YEAR_ACTIVE] [smallint] NOT NULL,
	[DIVISION] [varchar](10) NULL,
	[DEPARTMENT] [varchar](10) NULL,
	[COUNTER_NO] [smallint] NULL,
	[ACCIDENT_ID] [varchar](10) NOT NULL,
	[DATE_ACCIDENT] [date] NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[RELATED_PARTIES] [varchar](100) NULL,
	[FINANCIAL_IMPACT] [varchar](500) NULL,
	[OTHER_IMPACT] [varchar](500) NULL,
	[CURRENT_ACTION] [varchar](500) NULL,
	[NEXT_ACTION] [varchar](500) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATE] [varchar](45) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [PK_ACCIDENT_MASTER] PRIMARY KEY CLUSTERED 
(
	[YEAR_ACTIVE] ASC,
	[ACCIDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_COM_INPUT]    Script Date: 4/1/2018 5:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_COM_INPUT](
	[YEAR_ACTIVE] [smallint] NOT NULL,
	[CONDITION] [varchar](30) NULL,
	[COUNTER_NO] [smallint] NULL,
	[COM_INP_ID] [varchar](10) NOT NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[FLAG_ACTIVE] [varchar](1) NULL,
	[USER_CREATED] [varchar](45) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATE] [varchar](45) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [PK_COM_INPUT] PRIMARY KEY CLUSTERED 
(
	[YEAR_ACTIVE] ASC,
	[COM_INP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_DEPT_INPUT]    Script Date: 4/1/2018 5:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_DEPT_INPUT](
	[YEAR_ACTIVE] [smallint] NOT NULL,
	[DIVISION] [varchar](10) NULL,
	[DEPARTEMENT] [varchar](10) NULL,
	[CONDITION] [varchar](10) NULL,
	[COUNTER_NO] [smallint] NULL,
	[DEPT_INP_ID] [varchar](20) NOT NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[FLAG_ACTIVE] [varchar](1) NULL,
	[USER_CREATED] [varchar](45) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATE] [varchar](45) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [PK_DEPT_INPUT] PRIMARY KEY CLUSTERED 
(
	[YEAR_ACTIVE] ASC,
	[DEPT_INP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_FINANCIAL_DATA]    Script Date: 4/1/2018 5:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_FINANCIAL_DATA](
	[YEAR] [smallint] NOT NULL,
	[CASH_CASH_EQUIVALENT] [float] NULL,
	[NET_WORKING_CAPITAL] [float] NULL,
	[FIXED_ASSETS] [float] NULL,
	[OTHER_ASSETS] [float] NULL,
	[OTHER_LIABILITIES] [float] NULL,
	[MINORITY_INTEREST] [float] NULL,
	[EQUITY] [float] NULL,
	[REVENUE] [float] NULL,
	[COST_OF_REVENUE] [float] NULL,
	[OPERATING_EXPENSES] [float] NULL,
	[NON_OPERATING_INCOME] [float] NULL,
	[TAX_EXPENSE] [float] NULL,
	[DIVIDEND] [float] NULL,
	[OPERATING_PROFIT] [float] NULL,
	[NET_INCOME_PROFIT] [float] NULL,
	[OPERATING_CASH_FLOW] [float] NULL,
	[USER_CREATED] [varchar](45) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATE] [varchar](45) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [PK_RISK_FINANCIAL_DATA] PRIMARY KEY CLUSTERED 
(
	[YEAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_FINANCIAL_IMPACT]    Script Date: 4/1/2018 5:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_FINANCIAL_IMPACT](
	[YEAR_ACTIVE] [smallint] NOT NULL,
	[CATEGORY] [varchar](10) NULL,
	[RISK_INDICATOR_ID] [varchar](10) NULL,
	[COUNTER_NO] [smallint] NULL,
	[FINANCIAL_ID] [varchar](10) NOT NULL,
	[PERCENTAGE_VALUE] [smallint] NULL,
	[NUMBER_VALUE] [float] NULL,
	[USER_CREATED] [varchar](45) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATE] [varchar](45) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [PK_FINANCIAL_RISK] PRIMARY KEY CLUSTERED 
(
	[YEAR_ACTIVE] ASC,
	[FINANCIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_OPERATIONAL_IMPACT]    Script Date: 4/1/2018 5:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_OPERATIONAL_IMPACT](
	[YEAR_ACTIVE] [smallint] NOT NULL,
	[CATEGORY] [varchar](10) NULL,
	[RISK_INDICATOR_ID] [varchar](10) NULL,
	[COUNTER_NO] [smallint] NULL,
	[OPERATIONAL_ID] [varchar](10) NOT NULL,
	[NUMBER_VALUE] [float] NULL,
	[USER_CREATED] [varchar](45) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATE] [varchar](45) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [PK_OPERATIONAL_RISK] PRIMARY KEY CLUSTERED 
(
	[YEAR_ACTIVE] ASC,
	[OPERATIONAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_QUALITATIVE_IMPACT]    Script Date: 4/1/2018 5:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_QUALITATIVE_IMPACT](
	[YEAR_ACTIVE] [smallint] NOT NULL,
	[CATEGORY] [varchar](10) NULL,
	[RISK_INDICATOR_ID] [varchar](10) NULL,
	[COUNTER_NO] [smallint] NULL,
	[QUALITATIVE_ID] [varchar](10) NOT NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[USER_CREATED] [varchar](45) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATE] [varchar](45) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [PK_QUALITATIVE_RISK] PRIMARY KEY CLUSTERED 
(
	[YEAR_ACTIVE] ASC,
	[QUALITATIVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_RISK_INDICATOR]    Script Date: 4/1/2018 5:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_RISK_INDICATOR](
	[YEAR_ACTIVE] [smallint] NOT NULL,
	[CONDITION] [varchar](30) NULL,
	[COUNTER_NO] [smallint] NULL,
	[INDICATOR_ID] [varchar](10) NOT NULL,
	[DESCRIPTION] [varchar](50) NULL,
	[SCORE] [smallint] NULL,
	[USER_CREATED] [varchar](45) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATE] [varchar](45) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [PK_RISK_INDICATOR] PRIMARY KEY CLUSTERED 
(
	[YEAR_ACTIVE] ASC,
	[INDICATOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_RISK_MAPPING]    Script Date: 4/1/2018 5:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_RISK_MAPPING](
	[YEAR_ACTIVE] [smallint] NOT NULL,
	[CONDITION] [varchar](30) NULL,
	[COUNTER_NO] [smallint] NULL,
	[MAPPING_ID] [varchar](10) NOT NULL,
	[INDICATOR_ID_A] [varchar](10) NULL,
	[INDICATOR_ID_B] [varchar](10) NULL,
	[RESULT_ID_C] [varchar](10) NULL,
	[USER_CREATED] [varchar](45) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATE] [varchar](45) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [PK_MAPPING_RISK] PRIMARY KEY CLUSTERED 
(
	[YEAR_ACTIVE] ASC,
	[MAPPING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_R_ACCIDENT_DETAIL]    Script Date: 4/1/2018 5:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_ACCIDENT_DETAIL](
	[YEAR_ACTIVE] [smallint] NOT NULL,
	[RISK_NO] [varchar](16) NOT NULL,
	[NUMBER] [smallint] NULL,
	[ACCIDENT_ID] [varchar](10) NOT NULL,
	[USER_CREATED] [varchar](45) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATE] [varchar](45) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [PK_ACCIDENT_TRANS] PRIMARY KEY CLUSTERED 
(
	[YEAR_ACTIVE] ASC,
	[RISK_NO] ASC,
	[ACCIDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_R_CONTROL_DETAIL]    Script Date: 4/1/2018 5:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_CONTROL_DETAIL](
	[YEAR_ACTIVE] [smallint] NOT NULL,
	[RISK_NO] [varchar](16) NOT NULL,
	[NO] [smallint] NOT NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[TYPE] [varchar](10) NULL,
	[USER_CREATED] [varchar](45) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATE] [varchar](45) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [CONTROL_DETAIL_PK] PRIMARY KEY CLUSTERED 
(
	[YEAR_ACTIVE] ASC,
	[RISK_NO] ASC,
	[NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_R_RISK_ASSESSMENT]    Script Date: 4/1/2018 5:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_RISK_ASSESSMENT](
	[YEAR_ACTIVE] [smallint] NOT NULL,
	[RISK_NO] [varchar](16) NOT NULL,
	[DIVISION] [varchar](10) NULL,
	[COMPANY_KPI] [varchar](10) NULL,
	[DEPARTMENT] [varchar](10) NULL,
	[DEPARTMENT_KPI] [varchar](20) NULL,
	[BUSINESS_PROCESS] [varchar](10) NULL,
	[LOSS_EVENT] [varchar](200) NULL,
	[CAUSED] [varchar](200) NULL,
	[RISK_IMPACT] [smallint] NULL,
	[RISK_LEVEL] [varchar](10) NULL,
	[ACCIDENT_LIST] [smallint] NULL,
	[NOTES_IR] [varchar](500) NULL,
	[FIN_IMPACT_IR] [varchar](10) NULL,
	[FIN_AMOUNT_IR] [float] NULL,
	[OP_IMPACT_IR] [varchar](10) NULL,
	[OP_AMOUNT_IR] [real] NULL,
	[QL_IMPACT_IR] [varchar](10) NULL,
	[IR_IMPACT] [varchar](10) NULL,
	[LIKELIHOOD_IR] [varchar](10) NULL,
	[OVERALL_RISK_IR] [varchar](10) NULL,
	[CONTROL_LIST] [smallint] NULL,
	[OPERATION_CT] [varchar](10) NULL,
	[APPROPRIATENESS_CT] [varchar](10) NULL,
	[NOTES_RD] [varchar](500) NULL,
	[FIN_AMOUNT_RD] [float] NULL,
	[OP_AMOUNT_RD] [int] NULL,
	[QL_IMPACT_RD] [varchar](10) NULL,
	[LIKELIHOOD_RD] [varchar](10) NULL,
	[OVERALL_RD] [varchar](10) NULL,
	[OVERALL_EF] [varchar](10) NULL,
	[TREATMENT_PLAN] [bit] NULL,
	[TREATMENT_DESCRIPTION] [varchar](500) NULL,
	[IMPACT_EX] [varchar](10) NULL,
	[LIKELIHOOD_EX] [varchar](10) NULL,
	[PIC] [varchar](30) NULL,
	[SCHEDULE] [smallint] NULL,
	[USER_CREATED] [varchar](45) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[USER_UPDATE] [varchar](45) NULL,
	[DATETIME_UPDATE] [datetime] NULL,
 CONSTRAINT [PK_RISK_ASSESSMENT] PRIMARY KEY CLUSTERED 
(
	[YEAR_ACTIVE] ASC,
	[RISK_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_M_RISK_INDICATOR] ([YEAR_ACTIVE], [CONDITION], [COUNTER_NO], [INDICATOR_ID], [DESCRIPTION], [SCORE], [USER_CREATED], [DATETIME_CREATED], [USER_UPDATE], [DATETIME_UPDATE]) VALUES (2018, N'awd', 1, N'ada', N'dawda', 123, N'adasdwad', NULL, NULL, NULL)
ALTER TABLE [dbo].[TB_M_FINANCIAL_IMPACT]  WITH CHECK ADD  CONSTRAINT [RISK_FIN_DATA_FK] FOREIGN KEY([YEAR_ACTIVE])
REFERENCES [dbo].[TB_M_FINANCIAL_DATA] ([YEAR])
GO
ALTER TABLE [dbo].[TB_M_FINANCIAL_IMPACT] CHECK CONSTRAINT [RISK_FIN_DATA_FK]
GO
ALTER TABLE [dbo].[TB_M_FINANCIAL_IMPACT]  WITH CHECK ADD  CONSTRAINT [RISK_FINANCIAL_FK] FOREIGN KEY([YEAR_ACTIVE], [RISK_INDICATOR_ID])
REFERENCES [dbo].[TB_M_RISK_INDICATOR] ([YEAR_ACTIVE], [INDICATOR_ID])
GO
ALTER TABLE [dbo].[TB_M_FINANCIAL_IMPACT] CHECK CONSTRAINT [RISK_FINANCIAL_FK]
GO
ALTER TABLE [dbo].[TB_M_OPERATIONAL_IMPACT]  WITH CHECK ADD  CONSTRAINT [RISK_OPERATIONAL_FK] FOREIGN KEY([YEAR_ACTIVE], [RISK_INDICATOR_ID])
REFERENCES [dbo].[TB_M_RISK_INDICATOR] ([YEAR_ACTIVE], [INDICATOR_ID])
GO
ALTER TABLE [dbo].[TB_M_OPERATIONAL_IMPACT] CHECK CONSTRAINT [RISK_OPERATIONAL_FK]
GO
ALTER TABLE [dbo].[TB_M_QUALITATIVE_IMPACT]  WITH CHECK ADD  CONSTRAINT [RISK_QUALITATIVE_FK] FOREIGN KEY([YEAR_ACTIVE], [RISK_INDICATOR_ID])
REFERENCES [dbo].[TB_M_RISK_INDICATOR] ([YEAR_ACTIVE], [INDICATOR_ID])
GO
ALTER TABLE [dbo].[TB_M_QUALITATIVE_IMPACT] CHECK CONSTRAINT [RISK_QUALITATIVE_FK]
GO
ALTER TABLE [dbo].[TB_M_RISK_MAPPING]  WITH CHECK ADD  CONSTRAINT [RISK_MAPPING_FKA] FOREIGN KEY([YEAR_ACTIVE], [INDICATOR_ID_A])
REFERENCES [dbo].[TB_M_RISK_INDICATOR] ([YEAR_ACTIVE], [INDICATOR_ID])
GO
ALTER TABLE [dbo].[TB_M_RISK_MAPPING] CHECK CONSTRAINT [RISK_MAPPING_FKA]
GO
ALTER TABLE [dbo].[TB_M_RISK_MAPPING]  WITH CHECK ADD  CONSTRAINT [RISK_MAPPING_FKB] FOREIGN KEY([YEAR_ACTIVE], [INDICATOR_ID_B])
REFERENCES [dbo].[TB_M_RISK_INDICATOR] ([YEAR_ACTIVE], [INDICATOR_ID])
GO
ALTER TABLE [dbo].[TB_M_RISK_MAPPING] CHECK CONSTRAINT [RISK_MAPPING_FKB]
GO
ALTER TABLE [dbo].[TB_R_ACCIDENT_DETAIL]  WITH CHECK ADD  CONSTRAINT [ACCIDENT_MASTER_FK] FOREIGN KEY([YEAR_ACTIVE], [ACCIDENT_ID])
REFERENCES [dbo].[TB_M_ACCIDENT_DETAIL] ([YEAR_ACTIVE], [ACCIDENT_ID])
GO
ALTER TABLE [dbo].[TB_R_ACCIDENT_DETAIL] CHECK CONSTRAINT [ACCIDENT_MASTER_FK]
GO
ALTER TABLE [dbo].[TB_R_ACCIDENT_DETAIL]  WITH CHECK ADD  CONSTRAINT [ACCIDENT_RISK_FK] FOREIGN KEY([YEAR_ACTIVE], [RISK_NO])
REFERENCES [dbo].[TB_R_RISK_ASSESSMENT] ([YEAR_ACTIVE], [RISK_NO])
GO
ALTER TABLE [dbo].[TB_R_ACCIDENT_DETAIL] CHECK CONSTRAINT [ACCIDENT_RISK_FK]
GO
ALTER TABLE [dbo].[TB_R_CONTROL_DETAIL]  WITH CHECK ADD  CONSTRAINT [CONTROL_DETAIL_FK] FOREIGN KEY([YEAR_ACTIVE], [RISK_NO])
REFERENCES [dbo].[TB_R_RISK_ASSESSMENT] ([YEAR_ACTIVE], [RISK_NO])
GO
ALTER TABLE [dbo].[TB_R_CONTROL_DETAIL] CHECK CONSTRAINT [CONTROL_DETAIL_FK]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [COM_BP_FK] FOREIGN KEY([YEAR_ACTIVE], [BUSINESS_PROCESS])
REFERENCES [dbo].[TB_M_COM_INPUT] ([YEAR_ACTIVE], [COM_INP_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [COM_BP_FK]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [COM_KPI_FK] FOREIGN KEY([YEAR_ACTIVE], [COMPANY_KPI])
REFERENCES [dbo].[TB_M_COM_INPUT] ([YEAR_ACTIVE], [COM_INP_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [COM_KPI_FK]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [CT_APPROPRIATENESS_FK] FOREIGN KEY([YEAR_ACTIVE], [APPROPRIATENESS_CT])
REFERENCES [dbo].[TB_M_RISK_MAPPING] ([YEAR_ACTIVE], [MAPPING_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [CT_APPROPRIATENESS_FK]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [CT_OPERATION_FK] FOREIGN KEY([YEAR_ACTIVE], [OPERATION_CT])
REFERENCES [dbo].[TB_M_RISK_INDICATOR] ([YEAR_ACTIVE], [INDICATOR_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [CT_OPERATION_FK]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [DEPT_KPI_FK] FOREIGN KEY([YEAR_ACTIVE], [DEPARTMENT_KPI])
REFERENCES [dbo].[TB_M_DEPT_INPUT] ([YEAR_ACTIVE], [DEPT_INP_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [DEPT_KPI_FK]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [EF_OVERALL_FK] FOREIGN KEY([YEAR_ACTIVE], [OVERALL_EF])
REFERENCES [dbo].[TB_M_RISK_MAPPING] ([YEAR_ACTIVE], [MAPPING_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [EF_OVERALL_FK]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [EX_IMPACT] FOREIGN KEY([YEAR_ACTIVE], [IMPACT_EX])
REFERENCES [dbo].[TB_M_RISK_INDICATOR] ([YEAR_ACTIVE], [INDICATOR_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [EX_IMPACT]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [EX_LIKELIHOOD] FOREIGN KEY([YEAR_ACTIVE], [LIKELIHOOD_EX])
REFERENCES [dbo].[TB_M_RISK_INDICATOR] ([YEAR_ACTIVE], [INDICATOR_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [EX_LIKELIHOOD]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [FIN_IR_FK] FOREIGN KEY([YEAR_ACTIVE], [FIN_IMPACT_IR])
REFERENCES [dbo].[TB_M_FINANCIAL_IMPACT] ([YEAR_ACTIVE], [FINANCIAL_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [FIN_IR_FK]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [IR_IMPACT_FK] FOREIGN KEY([YEAR_ACTIVE], [IR_IMPACT])
REFERENCES [dbo].[TB_M_RISK_INDICATOR] ([YEAR_ACTIVE], [INDICATOR_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [IR_IMPACT_FK]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [IR_LIKELIHOOD_FK] FOREIGN KEY([YEAR_ACTIVE], [LIKELIHOOD_IR])
REFERENCES [dbo].[TB_M_RISK_INDICATOR] ([YEAR_ACTIVE], [INDICATOR_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [IR_LIKELIHOOD_FK]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [IR_OVERALL_FK] FOREIGN KEY([YEAR_ACTIVE], [OVERALL_RISK_IR])
REFERENCES [dbo].[TB_M_RISK_MAPPING] ([YEAR_ACTIVE], [MAPPING_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [IR_OVERALL_FK]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [OP_IR_FK] FOREIGN KEY([YEAR_ACTIVE], [OP_IMPACT_IR])
REFERENCES [dbo].[TB_M_OPERATIONAL_IMPACT] ([YEAR_ACTIVE], [OPERATIONAL_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [OP_IR_FK]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [QL_IR_FK] FOREIGN KEY([YEAR_ACTIVE], [QL_IMPACT_IR])
REFERENCES [dbo].[TB_M_RISK_INDICATOR] ([YEAR_ACTIVE], [INDICATOR_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [QL_IR_FK]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [RD_LIKELIHOOD_FK] FOREIGN KEY([YEAR_ACTIVE], [LIKELIHOOD_RD])
REFERENCES [dbo].[TB_M_RISK_INDICATOR] ([YEAR_ACTIVE], [INDICATOR_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [RD_LIKELIHOOD_FK]
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT]  WITH CHECK ADD  CONSTRAINT [RD_OVERALL_FK] FOREIGN KEY([YEAR_ACTIVE], [OVERALL_RD])
REFERENCES [dbo].[TB_M_RISK_MAPPING] ([YEAR_ACTIVE], [MAPPING_ID])
GO
ALTER TABLE [dbo].[TB_R_RISK_ASSESSMENT] CHECK CONSTRAINT [RD_OVERALL_FK]
GO
USE [master]
GO
